@font-face {
    font-family: "fontelogo";
    src: url("../fonte/Goboldbold.otf");
}
body {
    background-color: #dddddd;
    color: rgb(0, 0, 0); /* Cor do texto em preto */

}
div#interface {
    width: 900px;
    background-color: #ffffff;
    margin: -20px auto 0px auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Sombra para dar profundidade */
    padding: 10px 10px 10px 10px; /* Espaçamento interno */

}
header#cabecalho img#icone {
    position: static; /* Permite que o ícone seja posicionado de forma estática */
    max-width: 120px;
    left: 1000px; /* Alinha o ícone à direita */
    top: 40px;
}
header#cabecalho hgroup {
    flex: 1; /* Permite que o grupo de cabeçalhos ocupe o espaço restante */
} 
header#cabecalho {
    
    border-bottom: 1px solid #030303;
    height: auto; /* Permite que a altura se ajuste ao conteúdo */
    display: flex; /* Alinha logo e textos na horizontal */
    justify-content: space-between; /* Espaço entre logo e menu */
    align-items: center; /* Centraliza verticalmente */
    padding: 10px; /* Espaço interno */
    position: relative; /* Base para posicionar itens internos */
}
header#cabecalho h1 {
    font-family: 'fontelogo', Helvetica, sans-serif;
    font-size: 30pt; /* Tamanho da fonte do título */
    color: #000000; /* Cor do título em preto */
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6); /* Sombra para o título */
    padding: 0px; /* Remove o preenchimento */
    margin-bottom: 4px; /* Remove a margem inferior */
}
header#cabecalho h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15pt; /* Tamanho da fonte do subtítulo */
    color: #8888; /* Cor do subtítulo em preto */
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6); /* Sombra para o subtítulo */
    padding: 0px; /* Remove o preenchimento */
    margin-top: 0px; /* Remove a margem superior */
}
p {
    text-align: justify;
    text-indent: 50px;
}
/* formatação de imagens com legendas */
figure.fotolegenda {
    position: relative;
    border: 8px solid white; /* Borda branca de 8px */
    box-shadow: 1px 1px 4px black; /* Sombra para dar profundidade */
    width: 60%; /* Ajusta a largura do contêiner */
    margin: 30px auto; /* Centraliza o contêiner com margem */
}
figure.fotolegenda img {
    width: 100%; /* Ajusta a largura da imagem ao contêiner */
    height: auto; /* Ajusta a altura da imagem ao contêiner */
}
figure.fotolegenda figcaption {
    opacity: 0;
    position: absolute;
    bottom: 0px; /* Posiciona a legenda na parte inferior */
    left: 0px;
    background-color: rgba(0, 0, 0, 0.4); /* Fundo preto com transparência */
    color: white; /* Texto branco */
    width: 100%; /* Largura total do contêiner */
    height: auto; /* Altura total do contêiner */
    padding: 10px; /* Espaçamento interno */
    box-sizing: border-box; /* Inclui o padding na largura/altura total */
    transition: opacity 1s; /* Transição suave para a opacidade */
}
figure.fotolegenda:hover figcaption {
    opacity: 1;

}

/* estilo do menu */
nav#menu {
    display: block;
}
nav#menu ul {
    list-style: none; /* Remove os marcadores da lista */
    text-transform: uppercase; /* Transforma o texto em maiúsculas */
    display: flex; /* Exibe os itens do menu em linha */
    gap: 5px; /* Espaçamento entre os itens */
    margin: 0; /* Remove a margem da lista */
    padding: 0; /* Remove o preenchimento da lista */
    

}
nav#menu li {
   background-color: #888787;
   padding: 10px; /* Espaçamento interno */
   transition: background-color 0.3s; /* Transição suave para a cor de fundo */
}
nav#menu li:hover {
    background-color: #606060; /* Cor de fundo ao passar o mouse */
}
nav#menu h1 {
    display: none; /* Esconde o título do menu */
}
nav#menu a {
    color: black;
    text-decoration: none; /* Remove o sublinhado dos links */

}
nav#menu a:hover {
    color: white; /* Cor do link ao passar o mouse */
    text-decoration: underline; /* Sublinhado ao passar o mouse */
}
section#corpo {
    display: block; /* Exibe o corpo como um bloco */
    width: 60%; /* Largura do corpo */
    float: left; /* Permite que o corpo flutue à esquerda */
    border-right: 1px solid #000000; /* Borda direita do corpo */
    padding-right: 20px; /* Espaçamento interno à direita */
}

article#noticiaprincipal h2 {
    font-size: 12pt; /* Tamanho da fonte do artigo principal */
    color: #606060; /* Cor do texto do artigo principal */
    background-color: #dddddd;
    padding: 5px 0px 5px 10px; /* Espaçamento interno do artigo principal */
    margin: 10px 0px 10px 0px; /* Margem do artigo principal */
}

table#tabelaspec {
    border: 1px solid #000000; /* Borda da tabela */
    border-spacing: 0px; /* Espaçamento entre as células */
   margin: center;
}

table#tabelaspec td {
    border: 1px solid #000000; /* Borda das células */
    padding: 10px; /* Espaçamento interno das células */
}


aside#lateral {
    display: block;
    width: 35%; /* Largura da barra lateral */
    float: right; /* Permite que a barra lateral flutue à direita */
}

footer#rodape {
    clear: both; /* Limpa os elementos flutuantes */
    border-top: 1px solid #030303; /* Borda superior do rodapé */

}
footer#rodape p {
    text-align: center; /* Centraliza o texto do rodapé */
    font-size: 10pt; /* Tamanho da fonte do rodapé */
    color: #000000; /* Cor do texto do rodapé em preto */
    padding: 10px; /* Espaçamento interno */
}